name: Gratopy Tests

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.13
      uses: actions/setup-python@v5
      with:
        python-version: '3.13'
    - name: Install the latest version of uv
      uses: astral-sh/setup-uv@v5
    - name: Check code formatting
      run: uv tool ruff format --check
    - name: Run linting
      run: uv tool ruff check
