# This workflow will install Python dependencies, run tests and lint with a multiple versions of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Gratopy test suite

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13']
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install the latest version of uv
      uses: astral-sh/setup-uv@v5
    - name: Install system dependencies
      run: |
        sudo apt-get install pocl-opencl-icd libopenblas-dev
    - name: Install gratopy and Python dependencies
      run: uv sync
    - name: Run tests
      run: uv run pytest
